.card {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    border: 1px solid whitesmoke;
    border-radius: 4px;
    box-shadow: 5px 5px 15px gray;
    align-items: center;
    justify-content: space-evenly;
    max-width: 50%;
    margin:auto;
}

.card-title {
    padding: 1rem;
}